.music-button {
    position: fixed;

    bottom: 20px;

    right: 20px;

    padding: 12px 20px;

    border: none;

    border-radius: 30px;

    background: rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(10px);

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    z-index: 1000;

    transition: 0.3s;
}

.music-button:hover {
    transform: scale(1.05);
}